
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container register">
        <div class="row">
          <div class="col-md-9 register-right">
             
            
    <div class="tab-content" id="myTabContent">
     <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        
         <h3 class="register-heading">Employee Registration</h3>
             <div class="row register-form">
             <div class="col-md-6">
                
             <div class="form-group">
     <input type="text" class="form-control" placeholder="Name of the Employee*" name="employeeName" [(ngModel)]="employeeName" />
             </div>
         <div class="form-group">
             <input type="text" class="form-control" placeholder="EmployeeID *" name="employeeId" [(ngModel)]="employeeId" />
         </div>
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="address" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Age" name="age" [(ngModel)]="age" />
        </div>
</div>

 <div class="col-md-6">
     <div class="form-group">
       <input type="email" class="form-control" placeholder="Email *" name="email" [(ngModel)]="email"  />
     </div>
     <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
        <select class="custom-select" style="max-width: 120px;">
            <option data-countryCode="AU" value="61">Australia (+61)</option>
		    <option data-countryCode="CA" value="1">Canada (+1)</option>
            <option data-countryCode="FR" value="33">France (+33)</option>
            <option data-countryCode="IN" value="91">India (+91)</option>
            <option data-countryCode="JP" value="81">Japan (+81)</option>
            <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
		</select>
    	<input class="form-control" placeholder="Phonenumber" type="text" name="phoneNumber" [(ngModel)]="phoneNumber" >
    </div> 
   
    <div class="form-group">
            <input type="datetime-local" id="birthdaytime" name="dateOfBirth" [(ngModel)]="dateOfBirth" >  
    </div>
    <div class="form-group">
        <div class="maxl">
            <label class="radio inline"> 
                <input type="radio" name="gender" [(ngModel)]="gender"  value="male" checked>
                <span> Male </span> 
            </label>
           <label class="radio inline"> 
             <input type="radio" name="gender" [(ngModel)]="gender"  value="female">
             <span>Female </span> 
          </label>
    </div>
    </div>

    
        <input type="submit" class="btnRegister"  value="Register" (click)="empRegister()"/>
     </div>
    </div>
 </div>ng <s></s>
</div>
</div>
 </div>

 </div>
