<div class="d-flex" id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Page Content -->
  <div id="page-content-wrapper">
     <app-navbar></app-navbar>
     <div class="container-fluid">
      <form #empForm="ngForm">
        <h1 class="mt-4" header>Employee Registration</h1>
        <div class="row register-form">
           <div class="col-md-6">
              <div class="form-group">
                 <label class="control-label" for="EmployeeName"><strong>EmployeeName:</strong></label>
                 <input type="text" class="form-control" placeholder="Name of the Employee*" name="ename" [(ngModel)]="ename" #fname="ngModel" required />
                 <span *ngIf="fname.invalid && (fname.dirty || fname.touched) && fname.invalid" class="alerts">
                    <div class="errorMsg" *ngIf="fname.errors.required">required</div>
                 </span>
              </div>
              <div class="form-group">
                 <label class="control-label" for="EmployeeID"><strong>EmployeeID:</strong></label>
                 <input type="text" class="form-control" placeholder="EmployeeID *" name="eid" #Eid=ngModel [(ngModel)]="eid" required />
                 <span *ngIf="Eid.invalid && (Eid.dirty || Eid.touched) && Eid.invalid" class="alerts">
                    <div class="errorMsg" *ngIf="Eid.errors.required">required</div>
                 </span>
              </div>
              <div class="form-group">
                 <label class="control-label" for="Address"><strong>Address:</strong></label>
                 <input type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="address"
                 #Address="ngModel" required />
                 <span *ngIf="
                    Address.invalid && (Address.dirty || Address.touched) && Address.invalid
                    " class="alerts">
                    <div class="errorMsg" *ngIf="Address.errors.required">
                       required
                    </div>
                 </span>
              </div>
              <div class="form-group">
                 <label class="control-label" for="Age"><strong>Age:</strong></label>
                 <input type="text" class="form-control" placeholder="Age" name="age" [(ngModel)]="age" #Age=ngModel
                 required />
                 <span *ngIf="Age.invalid && (Age.dirty || Age.touched) && Age.invalid" class="alerts">
                    <div class="errorMsg" *ngIf="Age.errors.required">required
                    </div>
                 </span>
              </div>
           </div>
           <div class="col-md-6">
              <div class="form-group">
                 <label class="control-label" for="EMail"><strong>EMail:</strong></label>
                 <input type="email" class="form-control" placeholder="Email *" name="email" [(ngModel)]="email"
                 #Email=ngModel required />
                 <span *ngIf="
                    Email.invalid && (Email.dirty || Email.touched) && Email.invalid
                    " class="alerts">
                    <div class="errorMsg" *ngIf="Email.errors.required">
                       required
                    </div>
                 </span>
              </div>
              <div class="form-group">
                 <label class="control-label" for="PhoneNumber"><strong>PhoneNumber:</strong></label><br>
                 <input class="form-control" placeholder="Phonenumber" type="text" name="phoneNumber"
                 [(ngModel)]="phoneNumber" #Mobile=ngModel required>
                 <span *ngIf="
                    Mobile.invalid && (Mobile.dirty || Mobile.touched) && Mobile.invalid
                    " class="alerts">
                    <div class="errorMsg" *ngIf="Mobile.errors.required">
                       required
                    </div>
                 </span>
              </div>
              <div class="form-group">
                 <label class="control-label" for="DateOfBirth"><strong>DateOfBirth:</strong></label><br>
                 <input type="date" class="form-control" id="birthday" name="dob" [(ngModel)]="dob" #DOB=ngModel required>
                 <span *ngIf="
                    DOB.invalid && (DOB.dirty || DOB.touched) && DOB.invalid
                    " class="alerts">
                    <div class="errorMsg" *ngIf="DOB.errors.required">
                       required
                    </div>
                 </span>
              </div>
              <div class="form-group">
                 <div class="maxl">
                    <div class="form-group">
                       <label for="gender" class="control-label"><strong>Gender:</strong></label><br>
                       <select class="form-control" name="gender" required id="gender" [(ngModel)]="gender"
                       #Gender="ngModel">
                          <option disabled> select your gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                       </select>
                       <div *ngIf="Gender.errors && (Gender.touched || Gender.dirty)" class="alerts">
                        <div *ngIf="Gender.errors.required">Select gender</div>
                      </div>
                    </div>
                 </div>
              </div>
           </div>
           &nbsp;&nbsp;&nbsp;
           <button type="button" [disabled]="!empForm.form.valid" class="btn btn-primary" (click)="empRegister()">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;
           <button type="button" class="btn btn-primary" (click)="empRegister()">Emp Details</button>
        </div>
        </form>
     </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<app-footer></app-footer>