.footer{
    background-color:#007BFF;
     
}
.foot{

    /* margin-left: 16%; */
    margin-top:-2% !important;
    position: relative;
    height:auto;
    margin: 0px;
    
    padding-top: 6px !important;
   /*  min-height: -26%; */
    

}
/* #footer .col-md-3.col-sm-6.col-xs-12:nth-child(2){
    display: none;
} */