.bg{
    color: white;
    /* background-image: url("src\assets\Login\Loginbackground.jpg"); */
    /* background-image: url("src\assets\images\registerbg.png"); */
    background-image: url("src\assets\images\2121757.jpg");
    background-size: cover;
    height: auto;
    /* width: 700px; */
    max-width: 100%;
}

.body{
     float: right;
 }
 .register{
     float: right;
 }
 
 .form{
    
     width: 650px;
     margin-left: 30%;
     
 }
 .textarea{
     width: 530px;
     height: 100px;
 }

 .msg{
     background-color: transparent;
 }