<div class="bg">
  <div class="container">
    <h3 style="text-align: center;">Register Here</h3>
    <hr style="background-color: black;">
  </div>
  <form #RegistrationForm="ngForm">

    <div class="container mr-5">

      <div class="row mt-5">

        <div class="col-sm-6 col-md-4">
          <div class="form-group ">
            <label class="control-label " for="Fullname"><strong>Full Name:</strong></label>

            <input type="text" class="form-control" id="FullName" placeholder="Enter Full Name" name="firstName"
              [(ngModel)]="firstName" #fname="ngModel" required minlength="3">
           </div>

          <div *ngIf="fname.invalid && (fname.dirty || fname.touched)&& fname.invalid" class="alert alert-danger">
            <div class="errorMsg" *ngIf="fname.errors.required">FirstName is required</div>
            <div class="errorMsg" *ngIf="fname.errors.minlength">Should be atleast 3 characters</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label class="control-label " for="FatherName"><strong>Father Name:</strong></label>
          <input type="text" class="form-control" id="FatherName" placeholder="Enter Father Name" name="fatherName"
            [(ngModel)]="fatherName" #Fathername="ngModel" required minlength="3">
         
          <div *ngIf="Fathername.invalid && (Fathername.dirty || Fathername.touched)" class="alert alert-danger">
            <div *ngIf="Fathername.errors.required">name is required</div>
            <div class="errorMsg" *ngIf="fname.errors.minlength">Should be atleast 3 characters</div>
          </div>
        </div>
        

      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label class="control-label" for="DOB"><strong>Date Of Birth:</strong></label>
          <input class="form-control" id="DOB" type="date" placeholder="Enter DOB" [(ngModel)]="dob" #DOB="ngModel"
            name="dob" required>
          
          <div *ngIf="Fathername.invalid && (DOB.dirty || DOB.touched)" class="alert alert-danger">
            <div *ngIf="Fathername.errors.required">required</div>
          </div>
        </div>
        
        <div class="col-md-4">
          <label for="email" class="control-lable"><strong>Email:</strong></label>
          <input type="text" class="form-control" name="email" placeholder="enter email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" [(ngModel)]="email"
            #emailref="ngModel" required>
          <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="alert alert-danger">
            <div *ngIf="Fathername.errors.required">Please enter Email </div>
            <div [hidden]="!emailref.errors?.pattern">
              Invalid pattern
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="gender" class="control-label"><strong>Gender:</strong></label>
          <select class="custom-select gender form-control" name="gender" required id="gender" [(ngModel)]="gender"
            #Gender="ngModel">
            <!-- <option disabled selected>Select your Gender</option> -->
            <option value="1">Men</option>
            <option value="2">Women</option>
            <option value="3">Custom</option>
          </select>
          <div *ngIf="Gender.errors &&(Gender.touched || Gender.dirty)" class="alert alert-danger">
            <div *ngIf="Gender.errors.required">Select gender</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="Mobile" class="control-label"> <strong>Mobile number:</strong></label>
          <input type="number" class="form-control" name="mobileNumber" placeholder="Mobile number" id="Mobile"
            [(ngModel)]="mobileNumber" #mobile="ngModel" minlength="10" maxlength="10" required>

          <div *ngIf="mobile.errors &&(mobile.touched || mobile.dirty)" class="alert alert-danger">
            <div *ngIf="mobile.errors.required">Enter Mobile Number</div>
            <div class="errorMsg" *ngIf="mobile.errors.minlength">Please enter valid mobile number</div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <label for="address" class="control-label"><strong>Flat, House no., Building, Company,
              Apartment</strong></label>
          <input type="text" name="address" class="form-control" placeholder="Address" id="address"
            [(ngModel)]="address" #Address="ngModel" required>

          <div *ngIf="Address.errors &&(Address.touched || Address.dirty)" class="alert alert-danger">
            <div *ngIf="Address.errors.required">Please Enter Your Address</div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="plot" class="control-label"><strong>Area, Colony, Street, Sector, Village</strong></label>
          <input type="text" name="village" class="form-control" id="plot" [(ngModel)]="village" #plot="ngModel" required>

          <div *ngIf="plot.errors && (plot.touched || plot.dirty)" class="alert alert-danger">
            <div *ngIf="plot.errors.required">Required</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="District" class="control-label"><strong>city</strong></label>
          <input type="text" class="form-control" placeholder="District" name="city" id="District"
            [(ngModel)]="city" #District="ngModel" required>
          <div *ngIf="District.errors && (District.touched || District.dirty)" class="alert alert-danger">
            <div *ngIf="District.errors.required">district is required</div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="pincode" class="control-label"><strong>Pincode</strong></label>
          <input type="text" class="form-control" placeholder="Pincode" id="pincode" name="pinCode" [(ngModel)]="pinCode"
            #pincode="ngModel" required minlength="6" maxlength="6">
          <div *ngIf="pincode.errors && (pincode.touched || pincode.dirty || pincode.minlength)"
            class="alert alert-danger">
            <div *ngIf="pincode.errors.required">pincode required</div>
            <div *ngIf="pincode.errors.minlength">pincode incorrect</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="password" class="control-label"><strong>Password:</strong></label>
          <input class="form-control" type="password" id="password" name="password" [(ngModel)]="pswd"
            #password="ngModel" placeholder="enter password" name="password" required minlength="9">
          <div *ngIf="password.errors &&(password.touched || password.dirty || password.minlength)"
            class="alert alert-danger">
            <div *ngIf="password.touched">Password Required</div>
            <div *ngIf="password.minlength">choose a strong Password</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="password" class="control-label"><strong>Confirm Password:</strong></label>
          <input class="form-control" type="password" id="cpassword" [(ngModel)]="cpswd" #cpassword="ngModel"
            placeholder="Confirm password" name="cpassword" required minlength="9">
          <div *ngIf="cpassword.errors &&(cpassword.touched || cpassword.dirty ||cpassword.minlength)"
            class="alert alert-danger">
            <div *ngIf="cpassword.touched">Password Required</div>
            <div *ngIf="cpassword.minlength">choose a strong Password</div>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="container m-5 col-md-4">
          <a href="/login" class="btn btn-primary mt-5 mr-5" role="button">Signin Instead</a>
        </div>
        <div class="container m-5 col-md-4">
          <button type="button" class="btn btn-primary mt-5" [disabled]="!RegistrationForm.form.valid" (click)="regdtls()">Register</button>
        </div>
      </div>
    </div>
  </form>
</div>
