

.bg{
    color: white;
    /* background-image: url("src\assets\Login\Loginbackground.jpg"); */
    /* background-image: url("src\assets\images\registerbg.png"); */
    background-image: url("src\assets\images\2121757.jpg");
    background-size: cover;
    height: 100%;
    /* width: 700px; */
    max-width: 100%;
    min-height:100%;

}

 .register{
     float: right;
 }


.alerts{
    text-align: right;
    margin-top: 1px;
    color: red;
}

 