
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form class="form-horizontal" action="">
                <div class="table-responsive">
                    <h3>INDOOR</h3>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                
                                <th>INDOOR GAME NAMES</th>
                                <th>COST FOR 1Hr</th>
                                <th>COST FOR 2Hr</th>
                                <th>COST FOR 3Hr</th>
                                <th>COST FOR 4Hr</th>
                                <th>FULL DAY</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>

                        </tbody>
                    </table>
                    
                    <h3>TODDLER</h3>
                    <table class="table table-hover table-bordered">
                        
                        <thead>
                            <tr>
                                
                                <th>TODDLER GAME NAMES</th>
                                <th>COST FOR 1Hr</th>
                                <th>COST FOR 2Hr</th>
                                <th>COST FOR 3Hr</th>
                                <th>COST FOR 4Hr</th>
                                <th>FULL DAY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>

                        </tbody>
                    </table>
                </div>