<div class="d-flex" id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <h1 class="mt-4">About Us</h1>
      <div class="row ml-5">

        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
            <div class="container">
              <h2>Integra</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>integra@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="container">
              <h2>Integra</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>integra@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
            <div class="container">
              <h2>Integra</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>integra@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
