<div class="d-flex" id="wrapper">
  <app-sidebar></app-sidebar>
 <!-- Page Content -->
 <div id="page-content-wrapper">
     <app-navbar></app-navbar>
     <div class="container-fluid">
         <h1 class="mt-4 mr-5 head"> Contact Us</h1>
            
         <form #contactUsForm="ngForm">
            <div class="container mr-5">
              <div class="row mt-5">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label" for="Fullname"
                      ><strong>Full Name:</strong></label
                    >
        
                    <input
                      type="text"
                      class="form-control"
                      id="FullName"
                      placeholder="Enter Full Name"
                      name="fullName"
                      [(ngModel)]="fullName"
                      #fname="ngModel"
                      required
                    />
        
                    <div
                      *ngIf="
                        fname.invalid && (fname.dirty || fname.touched) && fname.invalid
                      "
                      class="alerts"
                    >
                      <div class="errorMsg" *ngIf="fname.errors.required">
                        required
                      </div>
                     
                    </div>
                  </div>
                </div>
        
                  <div class="col-md-5 form-group">
                  <label class="control-label" for="city"><strong>City:</strong></label><br>
                  <select class="form-control" name="city" required id="city" [(ngModel)]="city"
                       #City="ngModel">
                    <option [ngValue]="null">Select Your city</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Mysore">Mysore</option>
                  </select>
                  <div *ngIf="City.errors && (City.touched || City.dirty)" class="alerts">
                    <div *ngIf="City.errors.required">Select city</div>
                  </div>
                  </div>
                
                  <div class="form-group col-md-5">
                    <label class="control-label" for="mobileNo"><strong>MobileNo:</strong></label><br>

                <input class="form-control" placeholder="mobileNo" type="text" name="mobileNo"
                            [(ngModel)]="mobileNo" #Mobile=ngModel required>
                <span *ngIf="
                          Mobile.invalid && (Mobile.dirty || Mobile.touched) && Mobile.invalid
                          " class="alerts">
                  <div class="errorMsg" *ngIf="Mobile.errors.required">
                    required
                  </div>
                </span>
                    </div>
                    <div class="form-group col-md-5">
                      <label class="control-label" for="Type msg"><strong>Type Your Message:</strong></label><br>
                      <textarea id="subject" name="subject" placeholder="Write something.."
                      [(ngModel)]="subject"></textarea><br><br>

                      <button type="button" [disabled]="!contactUsForm.form.valid" class="btn btn-primary" (click)="addContact()">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-primary" (click)="contactdetails()">ContactDetails</button>


                    </div>

              </div>
              </div>
              
              </form>

    </div>
    </div>
    
 <!-- /#page-content-wrapper -->

</div>
<app-footer></app-footer>