<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
   <!-- Page Content -->
   <div id="page-content-wrapper">
       <app-navbar></app-navbar>
       <div class="container-fluid">
           <h1 class="mt-4 header">User Details</h1>
              
           <table class="table table-bordered">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Full Name</th>
                <th scope="col">fatherName</th>
                <th scope="col">gender</th>
                <th scope="col">dob</th>
                <th scope="col">email</th>
                <th scope="col">mobileNumber</th>
               <!--  <th scope="col">dob</th> -->
                <th scope="col">address</th>
                <th scope="col">village</th>
                <th scope="col">pinCode</th>
              </tr>
            </thead>
            <tbody  *ngFor="let reg of responseList">
              <tr>
                 <td>{{reg.fullName}}</td>
                 <td>{{reg.fatherName}}</td>
                 <td>{{reg.gender}}</td>
                 <td>{{reg.dob }}</td>
                 <td> {{reg.email}} </td>
                 <td> {{reg.mobileNumber}} </td>
                 <td> {{reg.address}} </td>
                 <td> {{reg.village}} </td>
                 <td> {{reg.pinCode}} </td>
              </tr>
            </tbody>
          </table>
  
       </div>
   </div>
   <!-- /#page-content-wrapper -->
  
  </div>
  <app-footer></app-footer>