<app-header></app-header>
<app-side></app-side>
<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>Page Title</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

   <div class="container-fluid gallery">

      <div class="container">
          <div class="row">
  
           
           <div class="col-sm-4">
              <a href="cart">
                 <img src="assets/images/carimage.jpg" class="img-rounded" alt="Girl in a jacket" width="200" height="200">
              </a>
              <h2>Action Games</h2>
  
           </div>
           <div class="col-sm-4">
  
              <a href="cart">
                 <img src="assets/images/carimage.jpg" class="img-rounded" alt="Girl in a jacket" width="200" height="200">
              </a>
              <h2>Action Games</h2>
           </div>
           <div class="col-sm-4">
  
              <a href="cart">
                 <img src="assets/images/carimage.jpg" class="img-rounded" alt="Girl in a jacket" width="200" height="200">
              </a>
              <h2>Action Games</h2>
           </div>
          </div>
  
           <div class="row">
              <div class="col-sm-4">
                 <a href="cart">
                    <img src="assets/images/carimage.jpg" class="img-rounded" alt="Girl in a jacket" width="200" height="200">
                 </a>
                 <h2>Action Games</h2>
  
              </div>
              <div class="col-sm-4">
     
                 <a href="cart">
                    <img src="assets/images/carimage.jpg" class="img-rounded" alt="Girl in a jacket" width="200" height="200">
                 </a>
                 <h2>Action Games</h2>
              </div>
              <div class="col-sm-4">
     
                 <a href="cart">
                    <img src="assets/images/carimage.jpg" class="img-rounded" alt="Girl in a jacket" width="200" height="200">
                 </a>
                 <h2>Action Games</h2>
              </div>
             </div>
  
      </div>  
  </div>
  
   
</body>
</html>
