<!-- Sidebar -->
<div class="bg-primary border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
      <img src="assets/images/imag11.jpg">
  </div>
  <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-primary text-white">My Photo</a>
      <ul class="list-group">
          <li> <a href="#" data-toggle="collapse" data-target="#profile"
                  class="list-group-item list-group-item-action bg-primary text-white">View Profile</a>
              <ul class="sub-menu collapse list-group" id="profile">
                  <li><a class="list-group-item list-group-item-action bg-primary text-white" href="/viewprofile">My Profile</a></li>
                  <li><a href="/employee" class="list-group-item list-group-item-action bg-primary text-white">Employee Profile</a></li>
              </ul>
          </li>
      </ul>

      <a href="/location" class="list-group-item list-group-item-action bg-primary text-white">Location</a>
      <ul class="list-group">
       <li>
          <a href="#"  data-toggle="collapse" data-target="#order" class="list-group-item list-group-item-action bg-primary text-white">Order</a>
          <ul class="sub-menu collapse list-group" id="order">
              <li><a class="list-group-item list-group-item-action bg-primary text-white" href="/vieworder">View Order</a></li>
              <li><a href="updateorder" class="list-group-item list-group-item-action bg-primary text-white">Update Order</a></li>
              <li><a href="cancelorder" class="list-group-item list-group-item-action bg-primary text-white">Cancel Order</a></li>
          </ul>
       </li>  
      </ul>
      <ul class="list-group">
          <li>
              <a href="#" data-toggle="collapse" data-target="#history"  class="list-group-item list-group-item-action bg-primary text-white">History</a>
              <ul class="sub-menu collapse list-group" id="history">
                  <li><a class="list-group-item list-group-item-action bg-primary text-white" href="#">View History</a></li>
                  <li><a href="#" class="list-group-item list-group-item-action bg-primary text-white">Delete History</a></li>
              </ul>
          </li>
      </ul>
      
  </div>
</div>
<!-- /#sidebar-wrapper -->