<body>
  <div class="container ml-5 ">
          <form class="m-5 mt-5" style="float: right;">
           <h3 style="text-align:center;">Forgot Password</h3>
           <form style="width: 250px;" class="ml-5"></form>
          <div class="form-group mt-5" >
            <input type="text" 
            class="form-control" 
            id="username" 
            name="username"
            [(ngModel)]="username" 
            placeholder="Username"  
            #uname="ngModel" required>
          </div>
  
          <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">                        
            <div *ngIf="uname.errors.required">! Username is required.</div> 
          </div>
          
          <div class="form-group " >
            <input type="password" 
             class="form-control" 
             id="password" 
             name="password" 
             [(ngModel)]="password" 
             placeholder="Password" 
             #pwd="ngModel" required>
          </div>
  
            <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">                        
              <div *ngIf="pwd.errors.required">! Password is required.</div> 
            </div>
  
          <div class="form-group" >
            <input type="password"  
            class="form-control"  
            id="confirmPassword" 
            name="confrimPassword" 
            [(ngModel)]="confirmPassword" 
            placeholder="ConfirmPassword" 
            #Confirmpassword="ngModel" required>
          </div>
          
          <div *ngIf="Confirmpassword.invalid && (Confirmpassword.dirty || Confirmpassword.touched)" class="alert alert-danger">                        
            <div *ngIf="Confirmpassword.errors.required">! ConfirmPassword is required.</div> 
          </div>
          
          <button type="submit" class="btn btn-primary" (click)="updatepassword()">Update</button> &nbsp;&nbsp;
          
        
  
  
  