<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body>
    <div class="container ml-5 ">
        
        <form class="m-5 mt-5" style="float: right;">
         <h3 style="text-align:center;">Forgot Password</h3>
         <form style="width: 300px;" class="ml-5"></form>
        <div class="form-group mt-5" >
          <input type="text" 
          class="form-control" 
          id="exampleInputUsername" 
          placeholder="Username">
        </div>
        <div class="form-group mt-5" >
          <input type="password" 
          class="form-control" 
          id="exampleInputPassword" 
          placeholder="Password">
        </div>
        <div class="form-group mt-5" >
          <input type="password" 
          class="form-control" 
          id="exampleInputConfirmPassword" 
          placeholder="ConfirmPassword">
        </div>
        <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;
      </form>
    </div>
</body>


