<div class="bg">
  <div class="container ml-5 ">
          <form class="m-5 mt-5" style="float: right;" #billingForm="ngForm">
           <h3 style="text-align:center;">Forgot Password</h3>

           <form style="width: 250px;" class="ml-5"></form>
          <div class="form-group mt-5" >
            <input type="text" required 
            class="form-control" 
            id="email" 
            name="email"
            [(ngModel)]="email" 
            placeholder="Username"  
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            #uname="ngModel" required>
          </div>
  
          <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">                        
            <div *ngIf="uname.errors.required">! Username is required.</div> 
            <div [hidden]="!uname.errors?.pattern">
              ! please enter a valid email
            </div>
          </div>
          
          <div class="form-group " >
            <input type="password" 
             class="form-control" 
             id="password" 
             name="password" 
             [(ngModel)]="password" 
             placeholder="Password" 
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
             #pwd="ngModel" required>
          </div>
  
            <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">   
              <small *ngIf="pwd.errors.pattern">Choose a strong Password. </small>
              <div *ngIf="pwd.errors.required">! Password is required.</div> 
            </div>
  
          <div class="form-group" >
            <input type="password"  
            class="form-control"  
            id="confirmPassword" 
            name="confirmPassword" 
            [(ngModel)]="confirmPassword" 
            placeholder="ConfirmPassword" 
            #Confirmpassword="ngModel" required
            pattern="{{ pwd.value }}">
          </div>
          
          <div *ngIf="Confirmpassword.invalid && (Confirmpassword.dirty || Confirmpassword.touched)" class="alert alert-danger">                        
            <div *ngIf="Confirmpassword.errors.required">! ConfirmPassword is required.</div> 
            <div *ngIf="Confirmpassword.errors.pattern">! Password Miss Match</div>
          </div>
          
          <button type="submit" class="btn btn-primary" (click)="update()" [disabled]="!billingForm.form.valid">Update</button> &nbsp;&nbsp;
        </form>
      </div>
    </div>
  
  
  