<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <app-navbar></app-navbar>
        <div class="container-fluid">
            <h1 class="mt-4">Event</h1>
            <table class="table table-hover table-bordered mt-5">
                <thead>
                    <tr>
                        <th>Event name</th>
                        <th>Entry amount</th>
                        <th>Game type</th>
                        <th>Game name</th>
                        <th>Teams</th>
                        <th>Winning price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Anniversary Event</td>
                        <td>1000</td>
                        <td>Indoor</td>
                        <td>Snookers</td>
                        <td>5</td>
                        <td>100000</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
